body{
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8ca6e2;

}

p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
h1{
    color: rgb(80, 67, 164);
}
h2{
    color: rgb(79, 106, 167);
}